* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body  {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFFFF;
  position: relative; 
  overflow-x: hidden; 
}

.bg-dandelions  {
  position: absolute;
  width: 790px;
  height: 697px;
  top: 0;
  left: 85px;
  z-index: -1;
  pointer-events: none;
}

.main-title  {
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  color: #515076;
  margin-top: 220px;
  margin-bottom: 110px;
}

.container  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  padding: 0 85px 116px;
  margin: 0 auto;
  max-width: 1280px;
}

.product-card  {
  width: 340px;
  background: #F7F7FA;
  padding: 25px;
  box-shadow: 2px 2px 10px 0px #5150761A;
  display: flex;
  flex-direction: column;
}

.card-image  {
  width: 290px;
  height: 245px;
  margin-bottom: 30px;
  object-fit: cover;
}

.card-category  {
  font-size: 12px;
  font-weight: 400;
  color: #A5A3B9;
  line-height: 27px; 
  text-transform: uppercase; 
}

.card-title  {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px; 
  color: #515076;
}

.card-description  {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px; 
  color: #515076;
}

.composition-wrapper  {
  margin-top: 15px;
  margin-bottom: 25px;
  width: 252px;
  border: 1px;
}

.composition-title  {
  font-size: 13px;
  color: #515076;
  display: block;
  margin-bottom: 5px;
}

.composition-list  {
  padding: 0;
  margin: 0;
  padding-left: 10px;
  list-style-type: circle;
}

.product-card__item  {
   font-size: 13px;
   margin: 5px;
}

.price-block  {
  display: flex;
  justify-content: space-between;
}

.price-label  {
  font-weight: 700;
  font-size: 20px;
}

.price-value  {
  font-weight: 400;
  font-size: 20px;
}