* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFFFF;
  position: relative; 
  overflow-x: hidden; 
}

.bg-dandelions {
  position: absolute;
  width: 790px;
  height: 697px;
  top: 0;
  left: 85px;
  z-index: -1;
  pointer-events: none;
}

.main-title {
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  color: #515076;
  margin-top: 220px;
  margin-bottom: 110px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: -30px;
  margin-bottom: 30px;
}

.active {
  background-color: lawngreen;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  padding: 0 85px 116px;
  margin: 0 auto;
  max-width: 1280px;
}

.product-card {
  width: 340px;
  background: #F7F7FA;
  padding: 25px;
  box-shadow: 2px 2px 10px 0px #5150761A;
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 290px;
  height: 245px;
  margin-bottom: 30px;
  object-fit: cover;
}

.card-category {
  font-size: 12px;
  font-weight: 400;
  color: #A5A3B9;
  line-height: 27px; 
  text-transform: uppercase; 
}

.card-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px; 
  color: #515076;
}

.card-description {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px; 
  color: #515076;
}

.composition-wrapper {
  margin-top: 15px;
  margin-bottom: 25px;
  width: 252px;
  border: 1px;
}

.composition-title {
  font-size: 13px;
  color: #515076;
  display: block;
  margin-bottom: 5px;
}

.composition-list {
  padding: 0;
  margin: 0;
  padding-left: 10px;
  list-style-type: circle;
}

.composition-list li {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 5px;
}

.price-block {
  display: flex;
  justify-content: space-between;
}

.price-label {
  font-weight: 700;
  font-size: 20px;
}

.price-value {
  font-weight: 400;
  font-size: 20px;
}

footer {
  background-color: #3A3A3A;
  color: #FFFFFF;
  width: 100%;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 85px 84px 0 84px;
  box-sizing: border-box;
}

.logo-block {
  max-width: 409px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 42px;
}

.logo-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 28px;
  font-weight: 800;
  line-height: 1.54;
}

.logo-text {
  margin-bottom: 42px;
  max-width: 409px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.54;
}

.social-links {
  display: flex;
  gap: 30.5px;
  align-items: center;
}

.social-links a {
  display: flex;
  text-decoration: none;
}

.form-block {
  max-width: 477px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 80px;
  margin-right: auto;
  padding: 0;

}

.form-title {
  width: 100%;
  text-align: left;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 13px;
  padding-left: 50px;
  box-sizing: border-box;
}

#form-email {
  max-width: 477px;
  width: 100%;
  height: 61px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #FFFFFF;
  box-sizing: border-box;
  margin: 0;
}

#form-email input {
  flex-grow: 1;
  outline: none;
  padding-left: 36px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  background: transparent;
  color: #000000;
}

#Subscribe {
  background: transparent;
  border: none;
  border-left: 1px solid #000000; 
  height: 18px;
  padding: 0 36px 0 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.navigation-block {
  width: 178px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navigation-title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 20px;
  font-weight: 500;
}

.footer-menu-list  {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-menu-item {
  margin-bottom: 17px;
}

.footer-menu-link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
}

.copyright-line {
  width: 66px;
  height: 1px;
  background-color: #FFFFFF;
  margin: 0 auto 25px;
  opacity: 0.3;
}

.copyright-block {
  text-align: center;
  margin-top: 60px;
  padding-bottom: 28px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal-window {
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px;
  width: 400px;
}

.modal-showed {
  display: block;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

#registration-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}